@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,200;0,500;0,800;1,200;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body{
    margin: 0;
    font-family: 'Poppins';
}
.container-menu{
    width: 98%;
    background-color: #00425a; 
    padding: 10px;
}
html{
  scroll-behavior: smooth;
}

li{
    list-style: none;
}
li a{
    color: #eff5f5;
    text-decoration: none;
    padding-left: 0;
    right: 50px;
}

 a:hover{
    color: #fc7300;
}

nav.container-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
}

h1{
    color: #eff5f5;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 50px;
}

ul li{
    display: inline-block;
    padding: 0px 10px;
    padding-right: 20px;
}
button{
    padding: 20px;
    width: 150px;
    background-color: #1f8a70;
    border-radius: 15%;
    border: none;
}

button a{  
  font-family: 'Poppins', sans-serif;
  font-size:20px;
  text-decoration: none;
  color: #eff5f5;
}

button a:hover{
    color: #00425a;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
img {
    width: 100%;
    padding: 10px;
}

.container-quienessomos {
  width: 80%;
  height: auto;
  background-color:#fc7300;
  text-align: center;
  color: #eff5f5;
  padding: 10%;
  align-items: center;
  text-align: center;
}

.container-elegirnos {
  width: 80%;
  height: auto;
  background-color:#eff5f5;
  text-align: center;
  color: #181823;
  padding: 10%;
  align-items: center;
  text-align: center;
}

.container-proped {
  width: 80%;
  height: auto;
  background-color:#FC7300;
  color: #eff5f5;
  padding: 10%;
  align-items: center;
  text-align: center;
 }

.contenedor-ultimas-noticias {
    width: 90%;
    height: auto;
    background-color:#eff5f5;
    color: #181823;
    padding: 5%;
    margin-left: 0;
    align-items: center;
    text-align: center;
}

footer {
  width: 90%;
  background-color: #181823;
  height: 300px;
  color: #eff5f5;
  padding: 5%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position:relative;
}


footer h2 {
  text-align: center;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
}

.box a {
  color: #1f8a70;
  text-decoration: none;
  display: inline-block; 
  margin-right: 10px;
  
}

footer h3 {
  color: #eff5f5;
  text-align: right;
  font-family: 'Poppins';
  margin-right: 150px;
}
.contacto {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex; 
  flex-direction: column; 
}

.contacto a {
  color: #eff5f5;
  text-decoration: none;
  font-family: 'Poppins';
}
  
@media screen and (max-width: 768px) {
  footer{
    height: 400px;
   }
 .contacto {
    margin-left: -15%;
  }

  .contacto a {
    display: flexbox;
    text-align: center;
    margin-inline-start: -105%;
  }
   footer h2{
    display: flexbox;
   }

   .box a {
    display: inline-flex;
    position: static; 
    margin-left: 10px;
    width: 20px;
    height: 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 70px;
  }
}


  @media screen and (max-width: 320px) {
    body {
      width: 320px;
    }
  
    img {
      width: 100%;
    }
  
    button {
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .box a {
      color: #1f8a70;
      display: inline;
      margin-right: 10px;
      margin-left: 60px;
      
    }
    .contacto a {
      display: flex;
      text-align: center;
      margin: 0 auto;
      margin-left: 10px;
    }
  
    nav.container-menu {
      display: flex;
      font-size: 13px;
    }
  }
  